<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../fragments/head %>
</head>

<body>

<% include ../fragments/nav %>

<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-5" id="username"><%= user.fullname %></h1>
    <p class="display-12" id="role"><%= user.role %></p>
    <p class="lead">
    </p>
  </header>

  <!-- Page Features -->

  <% var models = Object.keys(inventory.models); %>
  <% for( var i=0; i < models.length; i++ ) { %>
    <% var products = inventory.models[models[i]]; %>
    <div class="row">
      <div class="col-md-12">
        <h5 class="card-box-title">Model: <%= models[i] %></h5>
        <h6 class="card-box-detail"><%= products.length %> product(s)</h6>
      </div>
    </div>
    <div class="row text-center">
      <% for( var x=0; x < products.length; x++ ) { %>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div class="card-header">
              <h5><a href="/tracker/productDetail/<%= products[x].SN %>"><%= products[x].SN %></a></h5>
            </div>
            <div class="card-body">
              <img class="qr" src="/qr/<%= products[x].SN %>"/>
            </div>
            <div class="card-footer">
              <h6 class="card-title"><%= products[x].Stage %></h6>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  <% } %>

  <!-- /.row -->

</div>
<!-- /.container -->

<% include ../fragments/footer %>

<!-- Bootstrap core JavaScript -->
<script src="/resources/jquery/jquery.min.js"></script>
<script src="/resources/bootstrap/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
</script>

</body>

</html>
